<header class="page-header">
    <div class="logo page-aside"></div>
    <div class="container page-search">
        <form action="" class="form-group page-search-form">
            <input class="form-control page-search-control" type="text" placeholder="Enter your question">
        </form>
    </div>
    <div class="auth page-aside"></div>
</header>