<header class="page-header">
    <div class="page-aside">
        <div id="logo" class="logo"></div>
    </div>
    <div class="container page-search">
        <form action="" class="form-group page-search-form">
            <input class="form-control page-search-control" type="text" placeholder="Enter your question">
        </form>
    </div>
    <div class="page-aside">
        <div id="auth"></div>
    </div>
</header>