<div class="page-menu page-aside">
    <nav class="page-nav">
        <ul class="page-nav-list">
            <li class="page-nav-item">
                <a href="" class="page-nav-link">Home</a>
            </li>
            <li class="page-nav-item">
                <a href="" class="page-nav-link">Users</a>
            </li>
            <li class="page-nav-item">
                <a href="" class="page-nav-link">Cases</a>
            </li>
        </ul>
    </nav>
</div>