
<div class="container">
    <h3>Подтверждение email</h3>
    <p>Для завершения регистрации пройдите по ссылке</p>
    <p><a href="http://localhost:30000/register/{{token}}">Подтвердить регистрацию</a></p>
</div>
