<!DOCTYPE html>
<html>
  <head>
    <style>
      .container {
        width: 600px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
      {{!-- {{> header}} --}}
      <div class="container">
      {{{body}}}
      </div>
  </body>
</html>
