.hex-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    li {
        width: 4rem;
        height: 4rem;
        margin: 1rem;
    }
}

.container {
    width: 1200px !important;
    min-width: 1200px !important;
}
