/* SCSS HEX */
$coquelicot: #f13a08ff;
$safety-orange: #fe7b1aff;
$midnight-blue: #271565ff;
$blue-pantone: #1d229aff;
$carolina-blue: #2e96d3ff;
$dark-green: #032b03ff;
$pakistan-green: #096f0bff;
$green-ryb: #54a033ff;
$kelly-green: #77c42fff;
$coquelicot: #f7430eff;
$dark-salmon: #de9d8dff;
$spanish-violet: #4c2a73ff;
$magenta-dye: #c01f78ff;
$maximum-blue-purple: #a3a5e5ff;
$cosmic-cobalt: #2c3584ff;
$midnight-blue: #130e6cff;
$midnight-blue-2: #020454ff;
$russian-violet: #0d0236ff;

/* SCSS HSL */
$coquelicot: hsla(13, 94%, 49%, 1);
$safety-orange: hsla(26, 99%, 55%, 1);
$midnight-blue: hsla(253, 66%, 24%, 1);
$blue-pantone: hsla(238, 68%, 36%, 1);
$carolina-blue: hsla(202, 65%, 50%, 1);
$dark-green: hsla(120, 87%, 9%, 1);
$pakistan-green: hsla(121, 85%, 24%, 1);
$green-ryb: hsla(102, 52%, 41%, 1);
$kelly-green: hsla(91, 61%, 48%, 1);
$coquelicot: hsla(14, 94%, 51%, 1);
$dark-salmon: hsla(12, 55%, 71%, 1);
$spanish-violet: hsla(268, 46%, 31%, 1);
$magenta-dye: hsla(327, 72%, 44%, 1);
$maximum-blue-purple: hsla(238, 56%, 77%, 1);
$cosmic-cobalt: hsla(234, 50%, 35%, 1);
$midnight-blue: hsla(243, 77%, 24%, 1);
$midnight-blue-2: hsla(239, 95%, 17%, 1);
$russian-violet: hsla(253, 93%, 11%, 1);

/* SCSS RGB */
$coquelicot: rgba(241, 58, 8, 1);
$safety-orange: rgba(254, 123, 26, 1);
$midnight-blue: rgba(39, 21, 101, 1);
$blue-pantone: rgba(29, 34, 154, 1);
$carolina-blue: rgba(46, 150, 211, 1);
$dark-slate-blue: rgba(60, 51, 107, 1);
$jazzberry-jam: rgba(162, 18, 100, 1);
$dark-green: rgba(3, 43, 3, 1);
$pakistan-green: rgba(9, 111, 11, 1);
$green-ryb: rgba(84, 160, 51, 1);
$kelly-green: rgba(119, 196, 47, 1);
$coquelicot: rgba(247, 67, 14, 1);
$dark-salmon: rgba(222, 157, 141, 1);
$spanish-violet: rgba(76, 42, 115, 1);
$magenta-dye: rgba(192, 31, 120, 1);
$maximum-blue-purple: rgba(163, 165, 229, 1);
$cosmic-cobalt: rgba(44, 53, 132, 1);
$midnight-blue: rgba(19, 14, 108, 1);
$midnight-blue-2: rgba(2, 4, 84, 1);
$russian-violet: rgba(13, 2, 54, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f13a08ff, #fe7b1aff, #271565ff, #1d229aff, #2e96d3ff);
$gradient-right: linear-gradient(90deg, #f13a08ff, #fe7b1aff, #271565ff, #1d229aff, #2e96d3ff);
$gradient-bottom: linear-gradient(180deg, #f13a08ff, #fe7b1aff, #271565ff, #1d229aff, #2e96d3ff);
$gradient-left: linear-gradient(270deg, #f13a08ff, #fe7b1aff, #271565ff, #1d229aff, #2e96d3ff);
$gradient-top-right: linear-gradient(45deg, #f13a08ff, #fe7b1aff, #271565ff, #1d229aff, #2e96d3ff);
$gradient-bottom-right: linear-gradient(135deg, #f13a08ff, #fe7b1aff, #271565ff, #1d229aff, #2e96d3ff);
$gradient-top-left: linear-gradient(225deg, #f13a08ff, #fe7b1aff, #271565ff, #1d229aff, #2e96d3ff);
$gradient-bottom-left: linear-gradient(315deg, #f13a08ff, #fe7b1aff, #271565ff, #1d229aff, #2e96d3ff);
$gradient-radial: radial-gradient(#f13a08ff, #fe7b1aff, #271565ff, #1d229aff, #2e96d3ff);
$gradient-top: linear-gradient(0deg, #3c336bff, #a21264ff, #032b03ff, #096f0bff, #54a033ff);
$gradient-right: linear-gradient(90deg, #3c336bff, #a21264ff, #032b03ff, #096f0bff, #54a033ff);
$gradient-bottom: linear-gradient(180deg, #3c336bff, #a21264ff, #032b03ff, #096f0bff, #54a033ff);
$gradient-left: linear-gradient(270deg, #3c336bff, #a21264ff, #032b03ff, #096f0bff, #54a033ff);
$gradient-top-right: linear-gradient(45deg, #3c336bff, #a21264ff, #032b03ff, #096f0bff, #54a033ff);
$gradient-bottom-right: linear-gradient(135deg, #3c336bff, #a21264ff, #032b03ff, #096f0bff, #54a033ff);
$gradient-top-left: linear-gradient(225deg, #3c336bff, #a21264ff, #032b03ff, #096f0bff, #54a033ff);
$gradient-bottom-left: linear-gradient(315deg, #3c336bff, #a21264ff, #032b03ff, #096f0bff, #54a033ff);
$gradient-radial: radial-gradient(#3c336bff, #a21264ff, #032b03ff, #096f0bff, #54a033ff);
$gradient-top: linear-gradient(0deg, #77c42fff, #f7430eff, #de9d8dff, #4c2a73ff, #c01f78ff);
$gradient-right: linear-gradient(90deg, #77c42fff, #f7430eff, #de9d8dff, #4c2a73ff, #c01f78ff);
$gradient-bottom: linear-gradient(180deg, #77c42fff, #f7430eff, #de9d8dff, #4c2a73ff, #c01f78ff);
$gradient-left: linear-gradient(270deg, #77c42fff, #f7430eff, #de9d8dff, #4c2a73ff, #c01f78ff);
$gradient-top-right: linear-gradient(45deg, #77c42fff, #f7430eff, #de9d8dff, #4c2a73ff, #c01f78ff);
$gradient-bottom-right: linear-gradient(135deg, #77c42fff, #f7430eff, #de9d8dff, #4c2a73ff, #c01f78ff);
$gradient-top-left: linear-gradient(225deg, #77c42fff, #f7430eff, #de9d8dff, #4c2a73ff, #c01f78ff);
$gradient-bottom-left: linear-gradient(315deg, #77c42fff, #f7430eff, #de9d8dff, #4c2a73ff, #c01f78ff);
$gradient-radial: radial-gradient(#77c42fff, #f7430eff, #de9d8dff, #4c2a73ff, #c01f78ff);
$gradient-top: linear-gradient(0deg, #a3a5e5ff, #2c3584ff, #130e6cff, #020454ff, #0d0236ff);
$gradient-right: linear-gradient(90deg, #a3a5e5ff, #2c3584ff, #130e6cff, #020454ff, #0d0236ff);
$gradient-bottom: linear-gradient(180deg, #a3a5e5ff, #2c3584ff, #130e6cff, #020454ff, #0d0236ff);
$gradient-left: linear-gradient(270deg, #a3a5e5ff, #2c3584ff, #130e6cff, #020454ff, #0d0236ff);
$gradient-top-right: linear-gradient(45deg, #a3a5e5ff, #2c3584ff, #130e6cff, #020454ff, #0d0236ff);
$gradient-bottom-right: linear-gradient(135deg, #a3a5e5ff, #2c3584ff, #130e6cff, #020454ff, #0d0236ff);
$gradient-top-left: linear-gradient(225deg, #a3a5e5ff, #2c3584ff, #130e6cff, #020454ff, #0d0236ff);
$gradient-bottom-left: linear-gradient(315deg, #a3a5e5ff, #2c3584ff, #130e6cff, #020454ff, #0d0236ff);
$gradient-radial: radial-gradient(#a3a5e5ff, #2c3584ff, #130e6cff, #020454ff, #0d0236ff);
